<html>
    <head>
        <title>Something went wrong</title>
    </head>
    <body>
        <h1>Something went wrong. You will be redirected in 5 seconds</h1>
        <%= error %>
    </body>
    <script>
        setTimeout(function() {
            window.location.href = '/'
        }, 5000)
    </script>
</html>